<!DOCTYPE html>
<html ng-app="check">
<head>
<meta charset="utf-8">
<meta name="viewport" content=width=device-width,initial-scale=1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
<style>
.block{
padding: 30px;
  border: 1px solid #ddd;
    cursor: pointer;
}
.block:hover{
    background: rgba(220, 220, 220, 0.40);
}

.main-area{
    margin-top: 65px;
}
</style>
<title>Battleship | Play</title>
</head>
<body> 
<div class="container-full" ng-controller="listing">
<div class="col-lg-3">
    <h2 class="title text-center">BattleShip</h2>
    <h4 class="text-center">Shoot down all 4 ships within 20 shots</h4>
    <div class="status">
        <h4>Ship`s Status</h4>
        <ul class="list-group">
            <li class="list-group-item">Carrier [5 blocks] :<span class="badge">{{carrierStatus}}</span></li>
            <li class="list-group-item">Battleship  [4 blocks] : <span class="badge">{{battleshipStatus}}</span></li>
            <li class="list-group-item">Submarine  [3 blocks] : <span class="badge">{{submarineStatus}}</span></li>
            <li class="list-group-item">Destroyer  [2 blocks] : <span class="badge">{{destroyerStatus}}</span></li>
        </ul>
        <h4>Shots Left : <span>{{shotsLeft}}</span></h4>
    </div>
    <button type="button" class="btn btn-primary" ng-click="startGame()">Start Game</button>
</div>
<div class="main-area col-lg-9">
<div ng-repeat="m in rows" class="col-lg-12">
<div ng-class="class_e" id={{'block'+m+''+n}} style="padding:0" ng-repeat="n in columns" >
    <div ng-class="blockClass"   ng-click=hit(m,n) ></div>
</div>
</div>

</div>
</div>
</body>
<script>
/*!
 * Battleship v1.0.0 
 * Copyright (C) 2016 Siddharth Dubey (http://siddharth-dubey.github.io)
 * Licensed under MIT (https://github.com/Siddharth-dubey/Battleship/blob/master/LICENSE)
*/
(
    function() {
        var app = angular.module("check", []);
        app.controller("listing", ['$scope', function($scope) {
            var playState=false;
            $scope.blockClass="block";
            $scope.rows = [0, 1, 2, 3, 4, 5];
            $scope.columns = [0, 1, 2, 3, 4, 5];
            var shipPos = [
                [0, 0, 0, 0, 0, 0],
                [0, 0, 0, 0, 0, 0],
                [0, 0, 0, 0, 0, 0],
                [0, 0, 0, 0, 0, 0],
                [0, 0, 0, 0, 0, 0],
                [0, 0, 0, 0, 0, 0]
            ];
            var len = $scope.columns.length;
            if ((len && len > 0 && len <= 4) || (len == 6)) {
                $scope.class_e = 'col-lg-' + 12 / len;
            }
            $scope.hit = function(m, n) {
                checkHit(m, n);
               // console.log(m + 'row' + n + 'has been hit');
                //document.getElementById("block" + m + '' + n).style.background = "#f00";
            };
            var getPoint = function() {
                console.log("Getting point");
                var maximum = $scope.rows.length - 1;
                var minimum = 0;
                var rR = Math.floor(Math.random() * (maximum - minimum + 1)) + minimum;
                var rC = Math.floor(Math.random() * (maximum - minimum + 1)) + minimum;
                return {
                    row: rR,
                    col: rC
                };
            };
            var putShip = function(r, c, s, o) {
                var shipType = 00;
                if (s == 5) {
                    shipType = 35;
                } else if (s == 4) {
                    shipType = 36;
                } else if (s == 3) {
                    shipType = 37;
                } else if (s == 2) {
                    shipType = 38;
                }
                //1 for vertical 
                // 11 for vertical down & 12 for vertical up 
                // 2 for horizontal
                //21 for horizontal right & 22 for horizontal left
                if (o == 11) {
                    for (var i = r; i <= (r + s - 1); i++) {
                        console.log(shipPos);
                        shipPos[i][c] = shipType; //setting a 3 means there is  a ship
                        console.log("block" + i + '' + c);
                        // document.getElementById("block" + i + '' + c).style.background = "#ddd";
                    }
                } else if (o == 12) {
                    for (var k = r; k >= (r - s + 1); k--) {
                        shipPos[k][c] = shipType;
                        // document.getElementById("block" + k + '' + c).style.background = "#000";
                    }
                } else if (o == 21) {
                    for (var j = c; j <= (c + s - 1); j++) {
                        console.log(c);
                        shipPos[r][j] = shipType;
                        console.log(r + '' + j);
                        // document.getElementById("block" + r + '' + j).style.background = "#f00";
                    }
                    console.log(shipPos);
                } else if (o == 22) {
                    for (var m = c; m >= (c - s + 1); m--) {
                        shipPos[r][m] = shipType;
                        // document.getElementById("block" + r + '' + m).style.background = "#eee";
                    }
                }
            };
            var validatePoint = function(r, c, s, o) {
                var state = true;
                console.log("validating..");
                if (o == 11) {
                    console.log(r + "," + c);
                    for (var t = r; t <= (r + s - 1); t++) {
                        if (shipPos[t][c] != 0) {
                            console.log()
                            console.log("position interfere:" + (t) + '' + (c));
                            state = false;
                        }
                    }
                } else if (o == 12) {
                    for (var t = r; t >= (r - s + 1); t--) {
                        if (shipPos[t][c] != 0) {
                            state = false;
                        }
                    }
                } else if (o == 21) {
                    for (var t = c; t <= (c + s - 1); t++) {
                        if (shipPos[r][t] != 0) {
                            state = false;
                        }
                    }
                } else if (o == 22) {
                    for (var t = c; t >= (c - s + 1); t--) {
                        if (shipPos[r][t] != 0) {
                            state = false;
                        }
                    }
                }
                return state;
            };
            var setShip = function(s) {
                var point = getPoint();
                console.log("setting ship of size" + s + " at " + point.row + ',' + point.col);
                var randomize = Math.floor(Math.random() * 10);
                if ((s + point.row) <= 6 && (randomize >= 5)) {
                    console.log("Starting point is" + point.row + '' + point.col + 'V');
                    if (validatePoint(point.row, point.col, s, 11)) {
                        console.log("great");
                        putShip(point.row, point.col, s, 11);
                    } else {
                        setShip(s);
                    }
                } else if ((s + point.col) <= 6 && (randomize <= 5)) {
                    if (validatePoint(point.row, point.col, s, 21)) {
                        console.log("great");
                        putShip(point.row, point.col, s, 21);
                    } else {
                        setShip(s);
                    }
                } else if ((point.row - s + 1 >= 0) && (randomize >= 5)) {
                    if (validatePoint(point.row, point.col, s, 12)) {
                        console.log("great");
                        putShip(point.row, point.col, s, 12);
                    } else {
                        setShip(s);
                    }
                } else if ((point.col - s + 1 >= 0) && (randomize >= 5)) {
                    if (validatePoint(point.row, point.col, s, 22)) {
                        console.log("great");
                        putShip(point.row, point.col, s, 22);
                    } else {
                        setShip(s);
                    }
                } else {
                    setShip(s);
                }
            };
            $scope.startGame = function() {
                
                if (!playState) {
                console.log("Starting");
                var carrierSize = 5; //ship code 35
                var battleshipSize = 4; //ship code 36
                var submarineSize = 3; //ship code 37
                var destroyerSize = 2; //ship code 38
                setShip(destroyerSize);
                setShip(submarineSize);
                setShip(battleshipSize);
                setShip(carrierSize);
                playState=true;
            }

            };
            // var random_hit = function() {
            //     var maximum = 6;
            //     var minimum = 1;
            //     var rR = Math.floor(Math.random() * (maximum - minimum + 1)) + minimum;
            //     var rC = Math.floor(Math.random() * (maximum - minimum + 1)) + minimum;
            //     document.getElementById("block" + rR + '' + rC).style.background = "#f00";
            // };

            $scope.carrierStatus="Ready";
            $scope.battleshipStatus="Ready";
            $scope.submarineStatus="Ready";
            $scope.destroyerStatus="Ready";
            $scope.shotsLeft=20;

            var totalHit=0;var shipHit=0;
            var carrierHit=0; var battleshipHit=0;
            var submarineHit=0;var destroyerHit=0;

            var checkHit = function(m, n) {
                if(playState){

                
                if (shipPos[m][n] >= 0 && shipPos[m][n] != 4) {
                    console.log("It`s a hit at" + m + ',' + n);
                    // 4 means that the point has been hit
                    var hitCheck=false;
                    if (shipPos[m][n] == 35) {
                        shipHit++;hitCheck=true;
                        carrierHit++;
                        if(carrierHit>=5){$scope.carrierStatus="SUNK!";}
                    }else if (shipPos[m][n] == 36) {
                        shipHit++;hitCheck=true;
                        battleshipHit++;
                        if(battleshipHit>=4){$scope.battleshipStatus="SUNK!";}
                    }else if (shipPos[m][n] == 37) {
                        shipHit++;hitCheck=true;
                        submarineHit++;
                        if(submarineHit>=3){$scope.submarineStatus="SUNK!";}
                    }else if (shipPos[m][n] == 38) {
                        shipHit++;hitCheck=true;
                        destroyerHit++;
                        if(destroyerHit>=2){$scope.destroyerStatus="SUNK!";}
                    }

                    if (hitCheck) {
                        document.getElementById("block" + m + '' + n).style.background = "#000";
                    }
                    else{
                        document.getElementById("block" + m + '' + n).style.background = "#f00";
                    }
                    
                    shipPos[m][n] = 4;
                    totalHit++;
                    $scope.shotsLeft--; 
                    console.log(totalHit);
                    if (shipHit>=14) {
                        alert("you won");
                        playState=false;
                    } else if(totalHit>=20){
                        alert("lost");
                        playState=false;
                    };

                }
                }
            };
            //setInterval(random_hit,100); 
            //setShips();
        }]);
    })();
</script>
</html>
